/*Grund-del*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e90ff, #00bfff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Box runt användarnamn/lösernod*/
form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

/*Rubrik*/
h1 {
    position: absolute;
    top: 40px;
    color: white;
}

/*Input-fält*/
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Knapp*/
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #187bcd;
}

/*Info-rutor*/
#pris,
#elscooterStatus,
#kostnadText {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 15px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 400px;
}

/*Hyrd satus*/
.rented {
    color: #00ff88;
    font-weight: bold;
}

#ValkommstText {
    font-weight: normal;
    color: #b2bec3;
    margin-top: 10px; 
    margin-bottom: 30px;
    font-size: 1.5rem;
}


/*Knappar (sida 2)*/
button {
    padding: 12px 20px;
    margin: 10px 5px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

/*Hyr*/
#hyrKnapp {
    background-color: #00c853;
    color: white;
}
#hyrKnapp:hover {
    background-color: #00e676;
}

/* Lämna tillbaka */
#lamnaTillbakaKnapp {
    background-color: #f1663b;
    color: white;
}
#lamnaTillbakaKnapp:hover {
    background-color: #f1663b;
}

/*Betala*/
#BetalaKnapp {
    background-color: #53a3ff;
    color: white;
}
#BetalaKnapp:hover {
    background-color: #5393ff;
}

/*Historik*/
#uthyrningsHistorik {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-line;
}
